"*":
  core:
    themes: [
      "one-dark-ui"
      "gruvbox-plus-syntax"
    ]
  editor:
    fontFamily: "Inconsolata Awesome"
    fontSize: 15
    lineHeight: 1
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "bc03c154-3dd1-eafe-7e25-928c62dccad9"
  "gruvbox-plus-syntax":
    contrast: "Soft"
  welcome:
    showOnStartup: false
